

body {
    background:  url(../img/morning.jpg) fixed;
    /*background-size: 100% 100%;*/
    /*background: black fixed;*/
    /*background: darkgray fixed;*/
}

header{
    background: rgba(255,255,255,0.7);
}

.site-header{
    width: 100%;

}

.header-main{
    width: 100%;
    max-width: 1200px;
    min-height: 60px;

    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 1px;
}

.site-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*box-sizing: border-box;*/
    /*padding: 5px 10px;*/
}

.content{
    width: 40%;

    padding-right: 15px;
    box-sizing: border-box;

    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    background: rgba(255, 245, 229, 0.7);
}

#content-gq-img{
    width: 40%;
    height: 40%;

    /*margin: 10px 10px;*/
    margin: 0px 30%;
}
#content-book-img{
    width:200px;
    height: 120px;
    margin: 10px 20px;
}

#content-travel-img{
    width:200px;
    height: 120px;
    margin: 10px 10px;

    float: right;
}

.content-h1{
    margin-left: 10px;
    /*color: blue;*/

}

#left-1{
    float: left;

}
#left-2{
    float: left;
}

#right-1{
    float: right;

}

#right-2{
    float: right;

}

li{
    margin-bottom: 10px;
}

/*LoVe-HeAt*/

a:link { /*伪类*/
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blueviolet;
    font-size: 20px;
}

a:active {
    color: red;
}

img:link{

}
img:visited{

}
img:hover.div-img-qr{
    width: 50%;
    height: 50%;
    margin: 0 30%;
}
img:active{

}

.div-img-qr{
    /*margin:  5% 30%;*/
    margin: 0 35% ;
}
.des-center{
    text-align: center;

}

p b {
    font-size: 30px;
    color: black;

}
.a-qr-name{
    /*text-underline: ;*/
    text-decoration: none;
}

/*p a{*/

/*}*/

.intro{
    background: url("../img/light.jpg") no-repeat top left;
    padding-top: 340px;
}





/*div{*/
    /*background-color: red;*/

/*}*/

/*.left{*/
    /*width: 210px;*/

/*}*/
/*.right{*/
    /*width: 990px;*/
/*}*/