

body {
    background:  url(../img/tree.jpg) fixed;

}

header{
    background: rgba(255,255,255,0.6);
}

.site-header{
    width: 100%;

}

.header-main{
    width: 100%;
    max-width: 1200px;
    min-height: 60px;

    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 1px;
}

.site-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*box-sizing: border-box;*/
    /*padding: 5px 10px;*/
}

.content{
    width: 40%;

    padding-right: 15px;
    box-sizing: border-box;

    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    background: rgba(255,255,255,0.5);
}


#content-gq-img{
    width: 35%;
    height: 35%;

    margin: 10px 10px;
}

.content-h1{
    margin-left: 10px;
    /*color: blue;*/

}

#left-1{
    float: left;

}
#left-2{
    float: left;
}

#right-1
{
    float: right;

}

#right-2
{
    float: right;

}

li{
    margin-bottom: 10px;
}

/*LoVe-HeAt*/

a:link { /*伪类*/
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blueviolet;
    font-size: 20px;
}

a:active {
    color: red;
}



.intro{
    background: url("../img/light.jpg") no-repeat top left;
    padding-top: 340px;
}





/*div{*/
    /*background-color: red;*/

/*}*/

/*.left{*/
    /*width: 210px;*/

/*}*/
/*.right{*/
    /*width: 990px;*/
/*}*/